In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("amazon_baby1.csv")
df.head(5)

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

In [5]:
len(df)

1499

In [6]:
df['name'].value_counts()

Baby Trend Diaper Champ                                                                                  333
Munchkin Mozart Magic Cube                                                                               191
Safety 1st Deluxe 4-in-1 Bath Station                                                                    154
Summer Infant Ultimate Crib Sheet, 52&quot; x 28&quot;                                                    62
Northstate Superyard Playgate Light Gray                                                                  55
                                                                                                        ...
Super Mario Game Nintendo Wall Sticker and Decal                                                           1
Edu-Petit Teddy Bobo\'s Big Learning Book Developmental Toy                                                1
Musical Christmas Nativity Scene Angel with Baby Jesus in a Rustic Barkwood Resin Manger 8&quot; Tall      1
Jellycat Elephant and Mouse Book                                                                           1
God Created Everything Nite Lite                                                                           1
Name: name, Length: 130, dtype: int64

In [7]:
df=df[df.groupby('name')["name"].transform('size')>20]

In [8]:
df

,name,review,rating
153,Fisher Price Nesting Action Vehicles,We bought these for our son when he turned two...,5
154,Fisher Price Nesting Action Vehicles,"My son loves stacking cups, so a friend recomm...",5
155,Fisher Price Nesting Action Vehicles,My son Cameron just loves these great little s...,5
156,Fisher Price Nesting Action Vehicles,My one year old son received these as a birthd...,5
157,Fisher Price Nesting Action Vehicles,I purchased this toy for my great grandson\'s ...,5
...,...,...,...
1460,"Sesame Street Potty Soft Seat, Elmo",Bought this for my 2 year old daughter when sh...,2
1461,"Sesame Street Potty Soft Seat, Elmo",Although my son was excited about this seat it...,2
1462,"Sesame Street Potty Soft Seat, Elmo",My grandson love the Ginsey Diego Soft Potty S...,5
1463,"Sesame Street Potty Soft Seat, Elmo","this product is wonderful, especially for litt...",5
1464,"Sesame Street Potty Soft Seat, Elmo",I have the Diego and the Disney cars seat for ...,2

In [9]:
len(df)

990

In [10]:
df['review']=df['review'].astype(str)

In [12]:
def clean(txt):
    txt = txt.str.replace("()", "")
    txt = txt.str.replace('(<a).*(>).*()', '')
    txt = txt.str.replace('(&amp)', '')
    txt = txt.str.replace('(&gt)', '')
    txt = txt.str.replace('(&lt)', '')
    txt = txt.str.replace('(\xa0)', ' ')  
    txtdf['review'] = clean(df['review'])
    return txtdf['review']

In [13]:
df.head(5)

,name,review,rating
153,Fisher Price Nesting Action Vehicles,We bought these for our son when he turned two...,5
154,Fisher Price Nesting Action Vehicles,"My son loves stacking cups, so a friend recomm...",5
155,Fisher Price Nesting Action Vehicles,My son Cameron just loves these great little s...,5
156,Fisher Price Nesting Action Vehicles,My one year old son received these as a birthd...,5
157,Fisher Price Nesting Action Vehicles,I purchased this toy for my great grandson\'s ...,5

In [14]:
df['review1'] = df['review'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [15]:
df

,name,review,rating,review1
153,Fisher Price Nesting Action Vehicles,We bought these for our son when he turned two...,5,we bought these for our son when he turned two...
154,Fisher Price Nesting Action Vehicles,"My son loves stacking cups, so a friend recomm...",5,"my son loves stacking cups, so a friend recomm..."
155,Fisher Price Nesting Action Vehicles,My son Cameron just loves these great little s...,5,my son cameron just loves these great little s...
156,Fisher Price Nesting Action Vehicles,My one year old son received these as a birthd...,5,my one year old son received these as a birthd...
157,Fisher Price Nesting Action Vehicles,I purchased this toy for my great grandson\'s ...,5,i purchased this toy for my great grandson\'s ...
...,...,...,...,...
1460,"Sesame Street Potty Soft Seat, Elmo",Bought this for my 2 year old daughter when sh...,2,bought this for my 2 year old daughter when sh...
1461,"Sesame Street Potty Soft Seat, Elmo",Although my son was excited about this seat it...,2,although my son was excited about this seat it...
1462,"Sesame Street Potty Soft Seat, Elmo",My grandson love the Ginsey Diego Soft Potty S...,5,my grandson love the ginsey diego soft potty s...
1463,"Sesame Street Potty Soft Seat, Elmo","this product is wonderful, especially for litt...",5,"this product is wonderful, especially for litt..."
1464,"Sesame Street Potty Soft Seat, Elmo",I have the Diego and the Disney cars seat for ...,2,i have the diego and the disney cars seat for ...

In [16]:
df['review1'] = df['review1'].str.replace('[^\w\s]', '')
df['review1'].head()

<ipython-input-16-13026600a3d1>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['review1'] = df['review1'].str.replace('[^\w\s]', '')

153    we bought these for our son when he turned two...
154    my son loves stacking cups so a friend recomme...
155    my son cameron just loves these great little s...
156    my one year old son received these as a birthd...
157    i purchased this toy for my great grandsons fi...
Name: review1, dtype: object

In [17]:
#nltk Natural  Language Toolkit
import nltk                     
nltk.download('stopwords')
#stopwords means commonly occuring words
from nltk.corpus import stopwords 
stop = stopwords.words('english')
df['review1'] = df['review1'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['review1'].head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

153    bought son turned two seen playmates home love...
154    son loves stacking cups friend recommended toy...
155    son cameron loves great little stacking cars e...
156    one year old son received birthday gift loves ...
157    purchased toy great grandsons first christmas ...
Name: review1, dtype: object

In [19]:
#PorterStemmer is used to remove prefixes and suffixes

from nltk.stem import PorterStemmer
st = PorterStemmer()
df['review1'] = df['review'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [20]:
df['review1'].head(5)

153    we bought these for our son when he turn two. ...
154    my son love stack cups, so a friend recommend ...
155    my son cameron just love these great littl sta...
156    my one year old son receiv these as a birthday...
157    i purchas thi toy for my great grandson\' firs...
Name: review1, dtype: object